DB_HOST=localhost
DB_USER=quakewatch
DB_PASSWORD=quakewatch
DB_DATABASE=quakewatch

post_url=http://localhost:18080/data
station=ESPRO
db_file=earthquake_data.db
sqlite3_days_to_keep=1
mysql_days_to_keep=1